<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 style="font-family:healthset; font-weight:500"><span class ="white-text">화장선생</span></h4>
        <ul>
          <li><a class="white-text">문의 : makeupawake@gmail.com</a></li>
          <li><a class="white-text">상호 : 메이크어웨이크</a>  <a class = "white-text">/ 대표 : 서대훈</a></li>
          <li><a class="white-text">사업자등록번호 : 521-32-00319</a></li>
          <li><a class="white-text" href="#modal_term">이용약관</a> <span class=  "white-text">/</span> <a class="white-text" href="#modal_privacy">개인정보취급방침</a></li>

        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="blue-text text-darken-1" href="#!">Facebook</a></li>
          <li><a class="blue-grey-text text-lighten-2" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Copyright (c) 2017 MakeAWAKE All rights reserved
    </div>
  </div>
</footer>


<!-- Modal Structure -->
<div id="modal_term" class="modal modal-fixed-footer" style ="width:80%">
<div class="modal-content">
  <h4>화장선생/메이크어웨이크 이용약관</h4>
  <pre style=:"font-size:0.7rem"><%= render :file => '/home/term.txt' %></pre>
</div>
<div class="modal-footer">
  <a class="modal-action modal-close btn-flat">닫기</a>
</div>
</div>

<div id="modal_privacy" class="modal modal-fixed-footer" style ="width:80%">
<div class="modal-content">
  <h4>화장선생/메이크어웨이크 개인정보취급방침</h4>
  <pre style=:"font-size:0.7rem"><%= render :file => '/home/privacy.txt' %></pre>
</div>
<div class="modal-footer">
  <a class="modal-action modal-close btn-flat">닫기</a>
</div>
</div>
