<ul id="dropdown1" class="dropdown-content">
  <% if user_signed_in? %>
  <li class = "disable"><a><%= current_user.name %>님</a></li>
  <% else %>
  <li><a class = "modal-trigger black-text" href= "/users/sign_in"><i class="material-icons left">perm_identity</i>로그인</a></li>
  <% end %>
  <li class="divider"></li>
  <li><%= link_to "회원정보 수정하기", edit_user_registration_path %></li>
  <li><%= link_to('로그아웃', destroy_user_session_path, :method => :delete)%></li>
</ul>

<div class = "navbar-fixed">
  <nav class="white z-depth-0" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/home/index" class="brand-logo" style="font-family:healthset; font-weight:700"><h3 class ="black-text" style="margin-top:10px; margin-bottom:10px">화장선생</h3></a>

      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1"><%= current_user.name %>님 환영합니다<i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
        <li><a class = "modal-trigger black-text" href= "/users/sign_in"><i class="material-icons left">perm_identity</i>로그인</a></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a class = "modal-trigger black-text" href= "/users/sign_in"><i class="material-icons left">perm_identity</i>로그인</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

</div>



<script>
$(".button-collapse").sideNav();
</script>
