<<div class = "navbar-fixed">
  <nav class="black z-depth-0" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo" style="font-weight:700"><span class ="white-text">Make</span><span class ="red-text text-lighten-1">AWAKE</span></a>
      <ul class="right hide-on-med-and-down">
        <li><a class = "white-text"><i class="material-icons left">search</i>컨설팅 검색</a></li>
        <li><a class = "modal-trigger white-text" href= "#modal1"><i class="material-icons left">perm_identity</i>로그인</a></li>
        <li><a class = "white-text"><i class="material-icons left">info_outline</i>서비스소개</a></li>


      </ul>

      <ul id="nav-mobile" class="side-nav">

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
