

<div id="index-banner" class="parallax-container" style = "height:800px">
  <div class = "navbar-fixed">
    <nav class="black z-depth-0" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo" style="font-weight:700"><span class ="white-text">Make</span><span class ="red-text text-lighten-1">AWAKE</span></a>
        <ul class="right hide-on-med-and-down">
          <!-- <li><a class = "white-text"><i class="material-icons left">search</i>컨설팅 검색</a></li>
          <li><a class = "modal-trigger white-text" href= "#modal1"><i class="material-icons left">perm_identity</i>로그인</a></li>
          <li><a class = "white-text"><i class="material-icons left">info_outline</i>서비스소개</a></li> -->


        </ul>

        <ul id="nav-mobile" class="side-nav">

        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="section no-pad-bot">

    <div class="container">

      <br><br><br><br><br><br><br><br>
      <div class= "row" >
        <h1 class="header white-text " style="margin-bottom:0px">뜻밖의 당신</h1>
      </div>
      <div class="row ">
        <h5 class="header col s12 light white-text " style="font-weight:700; padding:0px">오늘, 당신만의 메이크업을 찾아보시는건 어때요?</h5>
      </div>
      <div class="row">
        <a class="waves-effect waves-light red lighten-1 btn" href="https://goo.gl/forms/Z8AMCRx5QqZpooZl1">컨설팅 신청하기</a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img" src ="<%= image_path "intro-bg3.jpg" %>" >
  </div>
</div>

<div class="container">
  <h4 class = "center black-text" style="font-weight:400">메이크어웨이크는 <span class = "red-text text-lighten-1">당신</span>에게만 집중합니다.</h4>

  <div class = "section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="red-text text-lighten-1 large material-icons">sentiment_very_satisfied</i></h2>
          <h5 class="center">자신만의 화장법을 찾으세요</h5>

          <p class="light">전문가의 도움을 통해서 고객님에게 가장 잘 어울리는 화장법을 찾아보세요!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="red-text text-lighten-1 large material-icons">watch_later</i></h2>
          <h5 class="center">더이상 시간과 돈을 낭비하지마세요</h5>

          <p class="light">유튜브, TV 뷰티쇼를 보며 따라하는 시간을 줄여보세요! 또한 예전 처럼 화장품을 잘 못사서 고생하는 일이 없도록 해보세요!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="red-text text-lighten-1 large material-icons">settings</i></h2>
          <h5 class="center">자신의 재능을 타인과 공유하세요</h5>

          <p class="light">자신이 가진 화장에 대한 재능을 다른 사람과 나누고 수익을 챙기세요!</p>
        </div>
      </div>
    </div>


  </div>
  <div class="section">
    <div class="row center">
      <div class="col s12 m12 l12">
      </div>
    </div>
  </div>

</div>

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <h4 class = "center black-text">고객들의 <span class ="red-text text-lighten-1">후기</span></h4>

      <br><br>

        <div class = "row">
          <div class = "col s12 m4 l4 ">
            <div class="card-panel medium ">
              <div class="card-content">
                <span class="card-title"><h5 class = "">화장에 대한 자신감이 늘었어요</h5></span>
                <h6>장OO 고객님</h6>
                <p>
                  내가 원하는 메이크업을 전문가의 도움을 받아 쉽게 배울 수 있고 실시간으로 피드백을 받을 수 있다! 그리고 자연스러운 화장!
                </p>
              </div>
            </div>
          </div>

          <div class = "col s12 m4 l4 ">
            <div class="card-panel medium ">
              <div class="card-content">
                <span class="card-title"><h5 class = "">또 다른 저를 발견했어요!</h5></span>
                <h6>서OO 고객님</h6>
                <p>
                  내가 원하는 메이크업을 전문가의 도움을 받아 쉽게 배울 수 있고 실시간으로 피드백을 받을 수 있다! 그리고 자연스러운 화장!
                </p>
              </div>
            </div>
          </div>

          <div class = "col s12 m4 l4 ">
            <div class="card-panel medium ">
              <div class="card-content">
                <span class="card-title"><h5 class = "">화장에 대한 자신감이 늘었어요</h5></span>
                <h6>장OO 고객님</h6>
                <p>
                  내가 원하는 메이크업을 전문가의 도움을 받아 쉽게 배울 수 있고 실시간으로 피드백을 받을 수 있다! 그리고 자연스러운 화장!
                </p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  <div class="parallax">
    <img class="responsive-img" src ="<%= image_path "index3.jpg" %>" >
  </div>
</div>


<!-- <div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br><br><br>
      <div class = "row">
        <div class = "col s12 m6 l6">

          <div class="card-panel medium grey darken-4">
            <div class="card-content white-text">
              <span class="card-title"><h4 class = "pink-text text-lighten-4">Make up Artist</h4></span>
              <table>
                <tbody>
                  <tr>
                    <td>
                      수업 회당 약 ₩30,000의 수입을 보장합니다.
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Make up Artist들을 위한 정기적 세미나를 개최해서 Artist간의 정보를 교류 할 수 있습니다.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      현장에서 고객을 실제로 만나 많은양의 Feedback을 받을 수 있습니다.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="parallax">
    <img class="responsive-img" src ="<%= image_path "index2.jpg" %>" >
  </div>
</div> -->

<!-- <div class="container">

  <div class="section">
    <div class="row">
      <div class = "col s12 m12 l12">
        <div class = "center">
          <h4>서비스 신청</h4>
          <h6>커스터마이즈된 컨설팅 서비스를 이용하시려면 아래에 정보를 입력하시고 신청버튼을 눌러주세요!</h6>
          <div class = "divider"></div>
          <br />
        </div>
      </div>

      <div class = "col s12 m6 l6">
        <div class = "container">
          <h5 class = "center">고객</h5>
          <form action ="/write_customer" method ="post">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">account_circle</i>
              <input name ="name_customer" id="name_customer" type="text" required>
              <label for="name_customer">성명</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">phone</i>
              <input name = "phone_customer"id="phone_customer" type="text" required>
              <label for="phone_customer">연락처</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">email</i>
              <input name = "email_customer" id="email_customer" type="email" class="validate" required>
              <label for="email_customer">Email</label>
            </div>
            <div class = "col s12 m12 l12 center" style = "margin:10px">
              <button class="btn pink lighten-4 waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class = "col s12 m6 l6">
        <div class = "container">
          <h5 class = "center">컨설턴트</h5>
          <form action ="/write_artist" method ="post">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">account_circle</i>
              <input name = "name_artist" id="name_artist" type="text" required>
              <label for="name_artist">성명</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">phone</i>
              <input name = "phone_artist"id="phone_artist" type="text" required>
              <label for="phone_artist">연락처</label>
            </div>
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">email</i>
              <input name="email_artist" id="email_artist" type="email" class="validate" required>
              <label for="email_artist">Email</label>
            </div>
            <div class = "col s12 m12 l12 center" style = "margin:10px">
              <button class="btn pink lighten-4 waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div> -->


  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>


<%= render :partial => "/home/footer" %>

<script>
  $(document).ready(function(){


    $('.modal').modal();
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('.slider').slider();

  });

</script>
