
<%= render :partial => "/home/navbar" %>

<div id="index-banner" class="parallax-container hide-on-small-and-down" >


    <div class="container">

      <br><br><br><br><br/>

        <div class=  "row">
          <h1 class=" black-text " style="font-weight:700; margin-bottom:0px">화장선생</h1>
        </div>
        <div class = "row ">
          <h5 class=" col s12 light black-text " style="font-weight:400; padding:0px">자신만의 화장법을 찾는 가장 빠른 방법</h5>
        </div>

        <div class = "row">
          <a class="waves-effect waves-light btn-large " href="https://goo.gl/forms/Z8AMCRx5QqZpooZl1" style="font-weight:500">컨설팅 신청하기</a>
        </div>

    </div>
  <div class="parallax white">
    <!-- <img class="responsive-img" src ="<%= image_path "intro-bg3.jpg" %>" > -->
  </div>
</div>


<div class="container">
  <h4 class = "center black-text" style="font-weight:400"><span style = "font-weight:700">화장선생</span>은 일대일 메이크업 컨설팅 서비스입니다.</h4>

  <div class = "section">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="black-text large material-icons">sentiment_very_satisfied</i></h2>
          <h5 class="center">자신만의 화장법을 찾으세요</h5>
          <p class="light">개인마다 어울리는 화장법이 다르기 때문에, 자신만의 화장법을 찾기 쉽지 않습니다. 하지만 화장선생을 통해 메이크업 전문가의 도움을 받아 자신만의 화장법을 찾아보세요</p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="black-text large material-icons">watch_later</i></h2>
          <h5 class="center">합리적입니다.</h5>
          <p class="light">기존 메이크업 교육 보다 합리적이며, 파운데이션 1개 가격이면 전문가를 통해서 자신만의 화장법을 찾을 수 있습니다. 또한 시행착오를 통해서 소비되는 시간을 절약하실 수 있을실 것 입니다.</p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="black-text large material-icons">wb_incandescent</i></h2>
          <h5 class="center">자신의 재능을 타인과 공유하세요</h5>

          <p class="light">자신이 가진 화장에 대한 재능을 다른 사람과 나누고 수익을 창출하세요.</p>
        </div>
      </div>
    </div>


  </div>
</div>



<div class="parallax-container" style="overflow: scroll;">
  <div class="section no-pad-bot">
    <div class="container">
      <h4 class = "center white-text">고객들의 후기</h4>

      <br><br>

        <div class = "row">
          <div class = "col s12 m4 l4 ">
            <div class="card-panel medium " style = "height:300px">
              <div class="card-content">
                <span class="card-title"><h5 class = "">화장에 대한 자신감이 늘었어요</h5></span>
                <h6>장OO 고객님</h6>
                <p>
                  내가 원하는 메이크업을 전문가의 도움을 받아 쉽게 배울 수 있고 실시간으로 피드백을 받을 수 있다! 그리고 자연스러운 화장!
                </p>
              </div>
            </div>
          </div>

          <div class = "col s12 m4 l4 ">
            <div class="card-panel medium " style = "height:300px">
              <div class="card-content">
                <span class="card-title"><h5 class = "">또 다른 저를 발견했어요!</h5></span>
                <h6>서OO 고객님</h6>
                <p>
                  저에게 맞는 메이크업을 찾고나서, 나도 이렇게 예쁠수 있구나 라고 느꼇습니다.
                </p>
              </div>
            </div>
          </div>

          <div class = "col s12 m4 l4 ">
            <div class="card-panel medium " style = "height:300px">
              <div class="card-content">
                <span class="card-title"><h5 class = "">화장에 대한 이해가 깊어졌습니다.</h5></span>
                <h6>김OO 고객님</h6>
                <p>
                  저에게 어울리는 아이메이크업을 새롭게 배울 수 있었습니다. 또, 쉐이딩이나 하이라이팅 기법을 자연스럽게 할 수 있게 되었습니다.
                </p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  <div class="parallax black">
    <!-- <img class="responsive-img" src ="<%= image_path "index3.jpg" %>" > -->
  </div>
</div>





  <!-- Modal Structure -->
  <!-- <div id="modal1" class="modal" >
    <div class="modal-content">
      <div class = "row">
        <div class = "card-penel red lighten-1 col s12 m6 l6 valign-wrapper hoverable" style = "cursor: pointer;height:300px; padding:0px" onclick="location.href='/users/sign_in';">
          <div class="row center valign">
            <h2 class="light-blue-text"><i class="white-text large material-icons">sentiment_very_satisfied</i></h2>
            <h5 class="white-text">일반고객 로그인</h5>
          </div>
        </div>
        <div class = "card-penel black col s12 m6 l6 valign-wrapper hoverable" style = "cursor: pointer;height:300px; padding:0px" onclick="location.href='/user/login';">
          <div class="row center valign">
            <h2 class="light-blue-text"><i class="white-text large material-icons">brush</i></h2>
            <h5 class="white-text">컨설턴트 로그인</h5>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<%= render :partial => "/home/footer" %>

<script>
  $(document).ready(function(){


    $('.modal').modal();
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('.slider').slider();

  });

</script>
