
body {
   font-family: 'Noto Sans KR', 'Wolin', 'healthset', sans-serif;
   word-break:keep-all;

 }

@font-face {
  font-family: 'Wolin';
  src: url(asset-path('fonts/Wolin.woff'));
}

@font-face {
  font-family: 'healthset';
  src: url(asset-path('fonts/healthset.woff'));
}
