<p>안녕하세요. <%= @resource.name %>님!</p>

<p>비밀번호 변경을 요청하셨습니다. 비밀번호를 변경하기 위해선 아래의 링크를 클릭해주세요.</p>


<p><%= link_to '비밀번호 변경하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만약 비밀번호 변경요청을 하시지 않았다면, makeupawake@gmail.com으로 문의바랍니다.</p>
<p>고객님의 비밀번호는 위의 링크를 통해서 변경하지 않는다면, 자동으로 변경되지 않습니다.</p>
